<header>
    <div class="header-inner" style="height: 100vh;">
        <nav id="navbar" class="navbar fixed-top  navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <strong>iamshiqing</strong>
                </a>

                <button id="navbar-toggler-btn" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="animated-icon"><span></span><span></span><span></span></div>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center">

                        {% for i in site.nav %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ i[1] }}" target="_self">
                                <i class="iconfont"></i>
                                <span>{{ i[0] }}</span>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </nav>
        <div id="banner" class="banner" parallax=true
            style="background: url('https://fluid.s3.bitiful.net/bg/vdysjx.png') no-repeat center center; background-size: cover;">
            <div class="full-bg-img">
                <div class="mask flex-center" style="background-color: rgba(0, 0, 0, 0.3)">
                    <div class="banner-text text-center fade-in-up">
                        <div class="h2">

                            <span id="subtitle" data-typed-text="学的不仅是技术，更是梦想！"></span>
                            <script>
                                var subtitle = document.getElementById('subtitle');
                                var typed = new Typed(subtitle, {
                                  strings: [subtitle.getAttribute('data-typed-text')],
                                  typeSpeed: 50
                                });
                              </script>
                        </div>


                    </div>


                    <div class="scroll-down-bar">
                        <i class="iconfont icon-arrowdown"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>